{% extends 'base.html.twig' %}

{% block title %}Sortir.com | Bienvenue !{% endblock %}
{% block main %}


<h2> Filtrer les sorties </h2>

    {# todo mise en page #}
    {{ form_start(sortieForm) }}

        {{ form_row(sortieForm.campus) }}
        {{ form_row(sortieForm.nom) }}
        {{ form_row(sortieForm.dateHeureDebut) }}
        {{ form_row(sortieForm.dateLimiteInscription) }}

        {{ form_row(sortieForm.jeSuisInscrit) }}
        {{ form_row(sortieForm.jeNeSuisPasInscrit) }}
        {{ form_row(sortieForm.jeSuisOrganisateur) }}
        {{ form_row(sortieForm.sortiePassee) }}

    <button type="submit">Filtrer</button>
    <button type="reset">Annuler</button>
    {{ form_end(sortieForm) }}

<h2> Liste des sorties </h2>

    <!-- C'est géré dans le controller :
    Soit on affiche toutes les sorties, soit si le filtre a été soumis on affiche la selection
    -->

    <!-- On commence par mettre en place la première ligne du tableau pour l'affichage -->
    <table class="alter">
    <tr>

        <th class="thead-dark">Nom de la Sortie</th>
        <th class="thead-dark">Date de la sortie</th>
        <th class="thead-dark">Clôture</th>
        <th class="thead-dark">Inscrits / places</th>
        <th class="thead-dark">État</th>
        <th class="thead-dark">Je suis inscrit</th>
        <th class="thead-dark">Organisateur</th>
        <th class="thead-dark">Action</th>

    </tr>

    <!-- Ensuite on va boucler sur le tableau que l'on nous a passé en paramètre depuis le controller
    TODO détails
    TODO filtres
    TODO acces selon autorisation
    TODO Actions
    -->
    {% for s in sortie %}
    <tr id="alternate" class="centerText">
        <td>
            {{ s.nom }}
        </td>

        <td>
            {{ s.dateHeureDebut|date("d-m-Y - H:i") }}
        </td>


        <td>
            {{ s.dateLimiteInscription|date("d-m-Y - H:i") }}
        </td>

        <td>
            {{ s.participants|length }} /
            {{ s.nbInscriptionMax }}
        </td>

        <td>
            {{ s.etat.libelle}}
        </td>

        <td class="centerText">
            {% if app.user.estInscrit(s) %}
            X
            {% endif %}
        </td>

        <td>
            <a href="{{ path('profil_afficher', { 'id' : s.organisateur.id }) }}" title="Organisateur">
                {{ s.organisateur.pseudo }}
            </a>
        </td>

        <td>
            {% if app.user == s.organisateur %}
                <a href="{{ path('sortie_modifier', {'id' : s.id }) }}" title="Modifier sortie">Modifier</a>
                <a href="#" title="Publier sortie">Publier</a>
                <a href=" {{ path('sortie_annuler', {'id' : s.id }) }}" title="Annuler sortie">Annuler</a>

            {% else %}
                <a href="{{ path('sortie_afficher', { 'id' : s.id }) }}" title="Details de la sortie">Afficher</a>
                {% if app.user.estInscrit(s) %}
                    <a href="{{ path('sortie_desister', { 'id' : s.id }) }}" title="Se désister"> - Se désister</a>
                {% else %}
                    {% if not(s.nbInscriptionMax == s.participants|length) and not(s.dateLimiteInscription < date()) %}
                        <a href="{{ path('sortie_inscrire', { 'id' : s.id }) }}" title="S'inscrire"> - S'inscrire</a>
                    {% endif %}
                {% endif %}
            {% endif %}



        </td>
    </tr>
    {% endfor %}

    </table>

    <a href="{{ path('sortie_create') }}"><button>Créer une sortie</button></a>

{% endblock %}