{% extends 'base.html.twig' %}

{% block title %}Sortir.com | Bienvenu.e !{% endblock %}
{% block main %}

<h2> Filtrer les sorties </h2>
    {{ form_start(sortieForm) }}
    {{ form_widget(sortieForm) }}

    <button type="submit">Filtrer</button>
    <button type="reset">Annuler</button>
    {{ form_end(sortieForm) }}

<h2> Liste des sorties </h2>

    <!-- C'est géré dans le controller :
    Soit on affiche toutes les sorties, soit si le filtre a été soumis on affiche la selection
    -->

    <!-- On commence par mettre en place la première ligne du tableau pour l'affichage -->
    <table class="table">
    <tr>
        <th>Nom de la Sortie</th>
        <th>Date de la sortie</th>
        <th>Cloture</th>
        <th>Inscrits / places</th>
        <th>Etat</th>
        <th>Je suis inscrit</th>
        <th>Organisateur</th>
        <th>Action</th>
    </tr>

    <!-- Ensuite on va boucler sur le tableau que l'on nous a passé en paramètre depuis le controller
    TODO détails
    TODO filtres
    TODO acces selon autorisation
    TODO Actions
    -->
    {% for s in sortie %}
    <tr>
        <td>
            {{ s.nom }}
        </td>

        <td>
            {{ s.dateHeureDebut|date("d-m-Y - H:i") }}
        </td>


        <td>
            {{ s.dateLimiteInscription|date("d-m-Y - H:i") }}
        </td>

        <td>
            {{ s.participants|length }} /
            {{ s.nbInscriptionMax }}
        </td>

        <td>
            {{ s.etat.libelle}}
        </td>

        <td>
            {% if app.user.estInscrit(s) %}
            X
            {% endif %}
        </td>

        <td>
            {{ s.organisateur.pseudo }}
        </td>

        <td>
            {% if app.user == s.organisateur %}
                <a href="#" title="Modifier sortie">Modifier</a> - <a href="#" title="Publier sortie">Publier</a>
            {% else %}
                <a href="#" title="Details de la sortie">Afficher</a>
                {% if app.user.estInscrit(s) %}
                    <a href="#" title="Se désister"> - Se désister</a>
                {% else %}
                    {% if not(s.nbInscriptionMax == s.participants|length) %}
                        <a href="#" title="S'inscrire"> - S'inscrire</a>
                    {% endif %}
                {% endif %}
            {% endif %}



        </td>
    </tr>
    {% endfor %}

    </table>

    <a href="{{ path('creer_sortie') }}"><button>Créer une sortie</button></a>

{% endblock %}