{% extends 'base.html.twig' %}

{% block title %}
    {{ app.user.prenom }} | {{ parent() }}
{% endblock %}

{% block main %}

    <div class="detailsDeMonProfil">
        <div class="photoProfil">
            {% if(participant.image) %}
            <img src="{{ asset('uploads/'~participant.image) }}" alt="avatar">
            {% else %}
            <img src="{{ asset('img/avatar.jpg') }}" alt="avatar">
            {% endif %}
        </div>
        <table>
            <thead>
            <tr>
                <th colspan="2"><h2>{{ participant.pseudo }}</h2></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Nom :</td>
                <td>{{ participant.nom }}</td>
            </tr>
            <tr>
                <td>Prènom :</td>
                <td>{{ participant.prenom }}</td>
            </tr>
            <tr>
                <td>Téléphone :</td>
                <td>{{ participant.telephone }}</td>
            </tr>
            <tr>
                <td>Email :</td>
                <td class="tdEmail">{{ participant.email }}</td>
            </tr>
            <tr>
                <td>Campus :</td>
                <td>{{ participant.campus.nom }}</td>
            </tr>
            <tr>
                <td><a href="{{ path('main_home') }}"><button>Retour</button></a></td>
                <td><a href="{{ path('profil_modifier') }}"><button>Modifier</button></a></td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}

