{% extends 'base.html.twig' %}


{% block title %}
    Créer une sortie
{% endblock %}

{% block main %}
    <h2>Créer une sortie</h2>
    <div class="flex">
    <div class="first">
    {{ form_start(sortieCreationForm) }}
    {{ form_row(sortieCreationForm.nom)}}
    {{ form_row(sortieCreationForm.dateHeureDebut)}}
    {{ form_row(sortieCreationForm.dateLimiteInscription)}}
    {{ form_row(sortieCreationForm.nbInscriptionMax)}}
    {{ form_row(sortieCreationForm.duree)}}
    {{ form_row(sortieCreationForm.infosSortie)}}
    </div>
    <div class="second">
        {{ form_row(sortieCreationForm.campus)}}
        {{ form_row(sortieCreationForm.ville)}}
        {{ form_row(sortieCreationForm.lieu)}}
        {{ form_row(sortieCreationForm.rue)}}
        {{ form_row(sortieCreationForm.cp)}}
        {{ form_row(sortieCreationForm.latitude)}}
        {{ form_row(sortieCreationForm.longitude)}}
    </div></div>
    <button type="">Enregistrer</button>
    <button type="reset">Annuler</button>
    <button type="">Publier la sortie</button>
    {{ form_end(sortieCreationForm) }}
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script>
        function init(){
            let ville = document.querySelector("#create_sortie_ville")
                 ville.addEventListener("change",function () {
                     let selectedVille = ville.options[ville.selectedIndex].index
                     let lieuxSelect=document.querySelector("#create_sortie_lieu");
                        console.log(selectedVille)

                     $.ajax({
                         url: "http://localhost/sortir/public/api/lieux/list_lieux",
                         type: "GET",
                         dataType: "JSON",
                         data: {
                             selectedVille: selectedVille
                         },
                    success: function (lieux){
                                lieuxSelect.innerHTML=""
                             let option=document.createElement("option")
                        let option2=document.createElement("option")
                             lieuxSelect.append(option);
                        option.value="";
                        option.text="";
                        lieuxSelect.append(option2);
                        $.each(lieux,function (key,lieu){
                            option2.value=lieu.id;
                            option2.text=lieu.nom+" " +lieu.rue;
                        })
                    }
                     });


                 });

                    }
        window.onload = ()=>{
            init();
        }
    </script>

{% endblock %}

