{% extends 'base.html.twig' %}


{% block title %}
    Créer une sortie
{% endblock %}

{% block main %}

    {% for label,messages in app.flashes%}
        {% for message in messages %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <h2>Créer une sortie</h2>
    <div class="flex">
    <div class="first">
    {{ form_start(sortieCreationForm) }}
    {{ form_row(sortieCreationForm.nom)}}
    {{ form_row(sortieCreationForm.dateHeureDebut)}}
    {{ form_row(sortieCreationForm.dateLimiteInscription)}}
    {{ form_row(sortieCreationForm.nbInscriptionMax)}}
    {{ form_row(sortieCreationForm.duree)}}
    {{ form_row(sortieCreationForm.infosSortie)}}
    </div>
    <div class="second">
        {{ form_row(sortieCreationForm.campus)}}
        {{ form_row(sortieCreationForm.ville)}}
       <div class="ajouter">{{ form_row(sortieCreationForm.lieu)}}
       <a href="#" onclick="displayDiv()"><img src="{{ asset('img/plus.png') }}" alt="ajouter un lieu"></a>
       </div> </div>
        <div class="formButtons">
               <button type="submit">Enregistrer</button>
               <button type="reset">Annuler</button>
               <button type="">Publier la sortie</button>
           </div>

       {{ form_end(sortieCreationForm) }}
        <div id="faireApparaitre">
            {{ form_start(ajouterLieuForm) }}
            <h4>Ajouter un lieu</h4>
            {{ form_widget(ajouterLieuForm) }}<br>
            <button id="submit" type="submit" > Ajouter</button>
            {{ form_end(ajouterLieuForm) }}
        </div>


    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script>
        let visibility=false;
        function displayDiv(){
            let myDiv = document.querySelector("#faireApparaitre");
            if(visibility===false){
            myDiv.style.visibility="visible";
            visibility=true;}
            else{
                myDiv.style.visibility="hidden";
                visibility=false;
            }
        }
        function init(){
            let ville = document.querySelector("#create_sortie_ville")
                 ville.addEventListener("change",function () {
                     let selectedVille = ville.options[ville.selectedIndex].index
                     let lieuxSelect=document.querySelector("#create_sortie_lieu");
                        console.log(selectedVille)

                     $.ajax({
                         url: "http://localhost/sortir/public/api/lieux/list_lieux",
                         type: "GET",
                         dataType: "JSON",
                         data: {
                             selectedVille: selectedVille
                         },
                    success: function (lieux){
                                lieuxSelect.innerHTML=""
                        let option=document.createElement("option")
                        console.log(selectedVille)
                        console.log(option)
                             lieuxSelect.append(option);
                        option.value="";
                        option.text="";
                        lieuxSelect.append(option);
                        console.log(lieux)
                        $.each(lieux,function (key,lieu){
                            let option=document.createElement("option")
                            option.value=lieu.id;
                            option.text=lieu.nom+" " +lieu.rue;
                            lieuxSelect.append(option);
                            console.log(option)
                        })
                    }
                     });


                 });

                    }
        window.onload = ()=>{
            init();
            // closeModal();
        }
    </script>

{% endblock %}

