{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block main %}

    <div class="detailsDeMonProfil">
        <div class="photoProfil">
            {% if(avatar) %}
            <img src="{{ asset('uploads/'~avatar) }}" alt="avatar">
            {% else %}
            <img src="{{ asset('img/avatar.jpg') }}" alt="avatar">
            {% endif %}
        </div>
        <table>
            <thead>
            <tr>
                <th colspan="2"><h2>{{ pseudo }}</h2></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Prènom:</td>
                <td>{{ prenom }}</td>
            </tr>
            <tr>
                <td>Téléphone:</td>
                <td>{{ telephone }}</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td class="tdEmail">{{ email }}</td>
            </tr>
            <tr>
                <td>Campus:</td>
                <td>{{ campus }}</td>
            </tr>
            <tr>
                <td><a href="{{ path('main') }}"><button>Retour</button></a></td>
                <td><a href="{{ path('monprofil_modifier') }}"><button>Modifier</button></a></td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}

