{% extends 'base.html.twig' %}

{% block title %}{{ app.user.prenom }} | {{ parent() }}{% endblock %}

{% block main %}
        <h2>Mon profil</h2>
        <div class="profil">
        <div class="photoProfil">
                {% if(avatar) %}
                        <img src="{{ asset('uploads/'~avatar) }}" alt="avatar">
                {% else %}
                        <img src="{{ asset('img/avatar.jpg') }}" alt="avatar">
                {% endif %}
        </div>
        {{ form_start(profilForm) }}
        {{ form_widget(profilForm) }}
        <br>
        <button type="submit">Enregistrer</button>
            {# to-do tester le button annuler #}
        <button type="reset">Annuler</button>
        {{ form_end(profilForm) }}
        </div>
{% endblock %}

