<header>
    <nav class="topnav">
        <div>
            <header>
                <nav class="topnav">
                    <div id="logo_and_name">
                        <a id="logo_header" href="{{ path('main_home') }}"><img src="{{ asset('img/sortir-modified.png') }}" alt=logo" width="80px"></a>
                        <p id="name_logo">Sortir.com</p>
                    </div>
                    <div>
                        {% if app.user %}
                            <a class="a_header" href="{{ path('main_home') }}" title="Page d'accueil">Accueil</a>

                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="a_header" href="#" title="Gérer les villes">Villes</a>
                                <a class="a_header" href="#" title="Gérer les campus">Campus</a>
                                <a class="a_header" href="{{ path('register') }}" title="Inscription">Inscrire</a>
                            {% endif %}

                            <a class="a_header" href="{{ path('profil_afficher', { 'id' : app.user.id }) }}" title="Gérer mes informations">Mon profil</a>
                            <a class="a_header" href="{{ path('logout') }}" title="Se déconnecter">Déconnexion</a>
                        {% else %}
                            <a class="a_header" href="{{ path('app_login') }}" title="Se connecter">Se connecter</a>
                        {% endif %}
                    </div>
                </nav>
            </header>
        </div>
    </nav>
</header>