{% extends 'base.html.twig' %}

{% block main %}
<h4>List des participants</h4>
{#afficher les participants#}
    <table class="alter">
        <tr>
            <th class="thead-dark">Participant</th>
            <th class="thead-dark">Etat</th>
            <th class="thead-dark">Actions</th>
        </tr>
        {% for participant in participants %}
            <tr>
                <th>
                    <a href="{{ path('profil_afficher', { 'id' : participant.id }) }}" title="Organisateur">
                        {{ participant.pseudo }}
                    </a>
                </th>
                {% if participant.actif == 1 %}
                    <th>Actif</th>

                {% else %}
                    <th>Désactivé</th>
                {% endif %}
                {% if participant.actif == 1 %}
                    <th><a href="{{ path('participants_desactiver',{'id':participant.id}) }}">Désactiver</a> - <a href="{{ path('participants_supprimer',{'id':participant.id}) }}">Supprimer</a></th>
                    {% else %}
                        <th><a href="{{ path('participants_activer',{'id':participant.id}) }}">Activer</a> - <a href="{{ path('participants_supprimer',{'id':participant.id}) }}">Supprimer</a></th>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}